<table border="1">
    <tr>
        <td>Id</td>
        <td>email</td>
        <td>username</td>
    </tr>

    {% for author in tabAuthors %}
        <tr>
            <td>    {{ author.id }}
            </td>
            <td>    {{ author.email }}
            </td>
            <td>    {{ author.username }}
            </td>
            <td>      <a href="{{ path('author_remove', {'id': author.id}) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this author?')">Delete Author</a>
</td>
   <td>      <a href="{{ path('update_user', {'id': author.id}) }}" class="btn btn-danger" >update Author</a>
</td>
        </tr>
    {% endfor %}
</table>
 <a href="{{ path('add_user') }}" class="btn btn-danger" >AJout Author</a>
  <form method="get" action="{{ path('chercher_list') }}">
        <label for="id">Enter Author ID:</label>
        <input type="text" id="id" name="id" required>
        <button type="submit">Chercher</button>

<a href="{{ path('tri_list') }}" class="btn btn-danger" class="btn btn-danger" >tri</a>


